#sidebarList {
    padding: 0;
    margin: 10px;
    list-style: none;
}

.footer {
    padding: 10px;
    background: linear-gradient(transparent 0%, purple 25%, transparent 80%);
    color: black;
    margin-top: 20px;
}

.footer p {
margin-top: 0.7em;
margin-left: 1.5em;
}

.header {
    padding: 10px;
    background: linear-gradient(transparent 0%, purple 25%, transparent 80%);
    color: #301185;
    font-size: 115px;
    letter-spacing: 2.5px;
}

.link-li {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: black;
}

.link-li:hover {
    color: #301185;
}